<blockquote class="blockquote">
  <p class="mb-0"> <%= @question %>
<br>
<em>— you </em></p>
<p class="bg-secondary">
<%= @answer %>
<br>
<em>— Your coach</em></p>
<%= link_to "ask a new question", ask_path %>
</blockquote
